.logo-style {
  font-weight: 700;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;

  &--studio-black {
    color: var(--black);
  }

  &--studio-color {
    color: var(--background-white);
  }

  &--web-color {
    color: var(--brand-color);
  }
}
