.our-team {
  &__description {
    color: var(--grey);
    font-size: 16px;
    line-height: 1.71;
    text-align: center;
  }
  &__social-links {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
  }
  &__link {
    fill: #afb1b8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12;
    width: 44px;
    height: 44px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;

    &:is(:hover, :focus) {
      fill: var(--background-white);
      background-color: var(--brand-color);
    }
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    color: var(--normal-color);
    line-height: 1.71;
    text-align: center;
  }

  &--background {
    background-color: var(--background-color);
  }

  &__list {
    display: flex;
    gap: 30px;
    max-width: 1170px;
  }

  &__box {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--background-white);
    padding-bottom: 30px;

    & > img {
      padding-bottom: 30px;
      box-sizing: content-box;
    }
  }
}
