:root {
  --brand-color: #2196f3;
  --normal-color: #212121;
  --background-color: #f5f3fa;
  --background-white: #fff;
  --link-white-transparency: rgba(255, 255, 255, 0.6);
  --grey: #757575;
  --black: #000;
  --main-background: #2f303a;
  --border-color: #ececec;
  --border-item-box: #eee;
}
